########################################
# Rust / Cargo
########################################
**/target/
**/*.rs.bk

# Cargo local config caches 
**/.cargo/.crates.toml
**/.cargo/.crates2.json

########################################
# Lean / Lake
########################################
# Lake build artifacts and downloaded packages
**/.lake/

# Lean compiled artifacts
**/*.olean
**/*.ilean
**/*.c
**/*.bc
**/*.so
**/*.a
**/*.trace
**/*.olean.hash
**/*.ilean.hash

# lake-manifest.json 

########################################
# Hax extraction 
########################################

**/build/

########################################
# OS / editors
########################################
.DS_Store
**/.DS_Store
*.swp
*.swo
.idea/
.vscode/
